environment:
  nodejs_version: "8"

install:
  - ps: Install-Product node $env:nodejs_version
  - yarn install

build_script:
  - echo Noting to build

test_script:
  - mkdir html
  - node index.js HTML --name testname
  - if exist .\html\testname.html || exit /b